* {
    box-sizing: border-box;
    list-style: none;
}

.nav__container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 15px;
}

nav {
    background-color: rgb(255, 255, 255);
    Position: fixed;
    Z-index: 10;
    Top: 0;
    right: 0;
    Width: 100%;
    box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.76);
}

.start__div {
    height: 96px;
}

.start__ul-li {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    justify-content: space-between;
}

.start__ul {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    column-gap: 8px;
}

.start__ul2 {
    column-gap: 22px;
    display: flex;
    font-family: 'Inter';
    align-items: center;
}

.start__ul2 .start__li2:nth-child(1) {
    font-family: 'Inter';
    color: #036FC7;
    cursor: pointer;
}

.start__ul2 .start__li2 {
    font-family: 'Inter';
    color: #72787D;
    cursor: pointer;
}

.start__ul2 .start__li2:hover {
    color: #036FC7;
    cursor: pointer;
}

.start__li-button {
    width: 143px;
    font-family: 'Inter';
    height: 34px;
    background: #212B31;
    border: 1px solid #212B31;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    color: white;
    font-size: 15px;
    margin-right: 30px;
    transition: 0.5s;
}

.start__li-button:hover {
    background: #212b3100;
    border: 1px solid #DADEDF;
    box-shadow: none;
    color: #212B31;
    transition: 0.5s;
    cursor: pointer;
}


/* header */

.container {
    margin: 0 auto;
    max-width: 1056px;
    padding: 0 15;
}

header {
    margin-top: 74px;
}

.start__header {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.start__p1 {
    width: 818px;
    font-family: 'Inter';
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #212B31;
    padding-top: 74px;
}

.start__btns {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.start_btn1 {
    width: 166px;
    height: 50px;
    background: #212B31;
    border: 1px solid #212B31;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.start_btn1:hover {
    background: #212b3100;
    border: 1px solid #DADEDF;
    box-shadow: none;
    color: #212B31;
    transition: 0.5s;
    cursor: pointer;
}

.start_btn2 {
    width: 166px;
    height: 50px;
    background: #212b3100;
    border: 1px solid #DADEDF;
    border-radius: 4px;
    color: #212B31;
    transition: 0.5s;
    cursor: pointer;
}

.start_btn2:hover {
    background: #212B31;
    border: 1px solid #212B31;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.start__img1 {
    padding-top: 88px;
}

.start__img2 {
    padding-top: 36px;
}


/* section001 */

.section001 {
    padding-top: 158px;
}

.start__cards {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

.start__card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_card1 {
    padding-bottom: 21px;
}

h2 {
    font-family: 'Inter';
    font-size: 18px;
    color: #212B31;
}

.start__text {
    width: 270px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #72787D;
    margin-top: -9px;
}

.start__text2 {
    width: 271px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #72787D;
    margin-top: -9px;
}

.start__text3 {
    width: 278px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #72787D;
    margin-top: -9px;
}


/* section002 */

.section002 {
    margin-top: 142px;
}

.start__section002 {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.start__h4 {
    font-family: 'Inter';
    font-size: 32px;
    text-align: center;
    color: #212B31;
}

.start__p2 {
    width: 814px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #72787D;
}

.start__section002 img {
    padding-top: 40px;
}


/* section003 */

.section003 {
    margin-top: 144px;
}

.start__section003 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start__wrap {
    width: 655px;
    font-family: 'Inter';
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #212B31;
}

.start__df {
    display: flex;
    align-items: center;
    padding-top: 168px;
}

.start__p4 {
    width: 410px;
    font-family: 'Inter';
    font-size: 32px;
    line-height: 48px;
    color: #212B31;
}

.start__p5 {
    width: 410px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 32px;
    color: #72787D;
}

.start__hr-div {
    position: relative;
    top: -30px;
}

.start_value {
    font-family: 'Inter';
    font-size: 20px;
    color: #212B31;
    z-index: 3;
    position: absolute;
}

.start__hr-div span {
    position: absolute;
    top: 46px;
    background-color: #ffd042;
    width: 228px;
    height: 10px;
}


/* section004 */

.section004 {
    margin-top: 71px;
}

.start__img {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.start__images {
    display: flex;
    align-items: center;
    padding-top: 56px;
    column-gap: 39px;
}

.start__section004 {
    border-bottom: 1px solid #EEF2F3;
    border-top: 1px solid #EEF2F3;
    border-left: none;
    border-right: none;
}

.start__images img:nth-child(1) {
    width: 180px;
    height: 76px;
}

.start__images img:nth-child(2) {
    width: 180px;
    height: 60px;
}

.start__images img:nth-child(3) {
    width: 180px;
    height: 90px;
}

.start__images img:nth-child(4) {
    width: 180px;
    height: 72px;
}

.start__images img:nth-child(5) {
    width: 180px;
    height: 81px;
}

.start__skanska {
    padding-bottom: 56.72px;
}


/* section005 */

.section005 {
    margin-top: 78.28px;
}

.start__texts-values {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 21px;
}

.start__value-text {
    width: 427px;
    font-family: 'Inter';
    font-size: 32px;
    text-align: center;
    color: #212B31;
}

.start__html {
    margin-top: -60px;
    width: 702px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #72787D;
}

.start__div-menu {
    margin-top: 28px;
    display: flex;
    align-items: center;
    column-gap: 91px;
}

.start__menu-h5 {
    font-family: 'Inter';
    font-size: 18px;
    color: #212B31;
}

.start__div-menu p {
    margin-top: -20px;
    width: 415px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #72787D;
}

.div__start {
    display: flex;
    align-items: center;
    margin-top: 65px;
    column-gap: 101px;
}

.menu__texts h4 {
    width: 515px;
    font-family: 'Inter';
    font-size: 18px;
    color: #212B31;
}

.menu__texts p {
    margin-top: -15px;
    width: 415px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #72787D;
}

.div__menu-text {
    margin-top: 65px;
}

.menu__start {
    display: flex;
    align-items: center;
    column-gap: 34px;
}

.div__menu-text h3 {
    width: 550px;
    font-family: 'Inter';
    font-size: 18px;
    color: #212B31;
}

.div__menu-text p {
    width: 423px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #72787D;
}


/* section006 */

.section006 {
    margin-top: 128px;
}

.start__section006 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-div__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-vector {
    position: relative;
    display: flex;
}

.img-vector img {
    position: absolute;
    top: 10px;
    left: 112px;
}

.menu-div__wrapper p {
    width: 718px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #72787D;
    margin-top: -15px;
}

.menu__cards {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-top: 48px;
}

.menu_card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_card1 h3 {
    width: 217px;
    font-family: 'Inter';
    font-size: 18px;
    color: #212B31;
}

.menu_card1 p {
    width: 302px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #72787D;
}

.start__dropdown {
    height: 130px;
    background-color: #F6F8F9;
    border-radius: 5px;
    width: 100%;
    margin-top: 62px;
}

.menu__df {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.menu__df img {
    padding-left: 40px;
}

.menu__df p {
    width: 697px;
    font-family: 'Inter';
    font-size: 18px;
    color: #212B31;
}

.menu__df button {
    width: 149px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #DADEDF;
    border-radius: 4px;
    color: #212B31;
    cursor: pointer;
    margin-right: 40px;
    transition: 0.5s;
}

.menu__df button:hover {
    cursor: pointer;
    background-color: #212B31;
    color: #EEF2F3;
    transition: 0.5s;
}


/* section007 */

.section007 {
    margin-top: 110px;
}

.start__section007 {
    height: 466px;
    background-image: url(./images/bg_img.png);
    border-radius: 6px;
}

.align__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.align__item p {
    width: 824px;
    font-family: 'Inter';
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #212B31;
    padding-top: 50px;
}

.textarea {
    display: flex;
    column-gap: 16px;
}

.textarea button:nth-child(1) {
    font-family: 'Arial';
    font-size: 17px;
    color: #FFFFFF;
    width: 166px;
    cursor: pointer;
    height: 50px;
    background-color: #212B31;
    border: 1px solid #212B31;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    transition: 0.5s;
}

.textarea button:nth-child(1):hover {
    color: #212B31;
    background-color: #EEF2F3;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.textarea button:nth-child(2) {
    font-family: 'Inter';
    font-size: 18px;
    color: #212B31;
    width: 207px;
    cursor: pointer;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #DADEDF;
    border-radius: 4px;
    transition: 0.5s;
}

.textarea button:nth-child(2):hover {
    cursor: pointer;
    color: #EEF2F3;
    background-color: #212B31;
    transition: 0.5s;
    border: none;
}


/* section008 */

.section008 {
    margin-top: 100px;
}

.start__section008 {
    width: 100%;
    height: 450px;
    background-color: #212B31;
}

.menu__slesh {
    display: flex;
    align-items: center;
    column-gap: 127px;
}

.menu__slesh h4 {
    width: 398px;
    font-family: 'Inter';
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 118px;
    padding-left: 146px;
}

input {
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 4px;
}

input::placeholder {
    font-family: 'Inter';
    font-size: 16px;
    padding-left: 26px;
    color: #72787D;
}

.menu__inputs {
    margin-top: 101px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.menu__inputs button {
    font-family: 'Inter';
    font-size: 18px;
    color: #000000;
    width: 300px;
    height: 50px;
    background: #FFC22D;
    border-radius: 4px;
    border: none;
    transition: 0.5s;
}

.menu__inputs button:hover {
    background-color: #FFFFFF;
    color: #ffb700;
    transition: 0.5s;
}

select {
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 4px;
}

select option {
    font-family: 'Inter';
    font-size: 16px;
    padding-left: 26px;
    color: #72787D;
}


/* section009 */

.section009 {
    margin-top: 100px;
}

.menu__ul-li {
    display: flex;
    align-items: center;
    column-gap: 95px;
}

.velue__ul {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.value__ul2 {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    color: #72787D;
}

.ul3 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: -115px;
}

.ul3 li:nth-child(1) {
    width: 113px;
    margin-bottom: 20px;
}

.ul3 li:nth-child(2) {
    color: #72787D;
}

.ul3 li:nth-child(3) {
    width: 146px;
    color: #72787D;
}


/* footer */

footer {
    margin-top: 160px;
}

.footer__hr {
    width: 1056px;
    height: 1px;
    background: #DADEDF;
}

.footer__ul {
    display: flex;
    padding-top: 32px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 16px;
    color: #72787D;
    padding-bottom: 33px;
}

.footer__ul li:hover {
    color: #036FC7;
    cursor: pointer;
}